* {
  font-family: 'Lobster', cursive;
}
.row {
  margin-bottom: 15px;
}
.row > section {
  border: 2px solid red;
  background-color: gray;
}
section {
	/*border: 2px solid black;
    background-color: grey;*/
    width: 100%;
    position: relative;
    height: auto;
    margin-top: 40px;
}
h1 {
	text-align: center;
	margin-top: 20px;
}
h2 {
	width: 100px;
	border: 2px solid black;
	margin-top: 0px;
	margin-right: 0px;
	text-align: center;
	position: absolute;
	right: -2px;
	top: -2px;
}
#chicken {
	background-color: #F78181;
}
#beef {
	background-color: #F2F5A9;
}
#sushi {
	background-color: #9FF781;
}